:host {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 500;
    color: var(--dark);
    font-size: var(--font-size);
    text-align: left;
    text-transform: uppercase;
}

.error {
    font-size: 1.2rem;
    text-align: left;
    color: var(--red);
}