:root {
    --orange-color: #ee7033;
    --hover-orange-color: #c37048;
    --navy-blue: #0c8397;
    --border-header: #ff7839;
    --border-input: #cecece;
    --dark: #1a1a1a;
    --light-gray: #868686;
    --lighter-gray: #d6d6d6;
    --confirm-green: #0c9777;
    --confirm-green-hover: #076b54;
    --red: #e63535;
}